<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Welcome to</h3>
    <h1>Chirper!</h1>
    <img src="http://4.bp.blogspot.com/_SqhhJb_P3Kk/S2W7kHoIMDI/AAAAAAAAK4w/5GCsYykIgHE/s1600/bird+pooping.jpg">
     <a href = '#list'><button> What's on your mind?</button></a>
     <nv-view></nv-view>
</body>
</html>