<!DOCTYPE html>
<html  lang="en">
<head >
        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="app/styles.css">
    <title>Document</title>
</head>
<body >
     <img src="http://i0.kym-cdn.com/photos/images/newsfeed/000/687/093/6a8.jpg"> 
    <h3>Welcome to</h3>
    <h1>Chirper!</h1>
    
     <a href = '#list'><button class='homebut'> What's on your mind?</button></a>
     <nv-view></nv-view>
</body>
</html>