<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="app/styles.css">
    <title>Document</title>
</head>
<body >
    <div  ng-controller="allGetController">
    <form>
    User: <input type="text" name="User" placeholder="User" ng-model="user" required> 
    Message: <input type="text" name="Message" placeholder="Message" ng-model="message" required><br>
    <input type="button" value="submit" ng-click="insertdata()"/>
    </form>
    <h1 id= 'list'class="h1list">List of chirps</h1> 
      <div id='rows'>
          
         <div   ng-repeat='chirps in allChirps' ng-click="goToSingle(chirps.id)" id={{chirp.id}}>   
   
    <a href ='#single'><p ng-dblclick="id">USER: {{chirps.user}}</p>
        
     <p>MESSAGE: {{chirps.message}} </p></a>
    </div> 
      </div>
</div>
</body>
</html>